@page
@model Core_Web_Razor.Models.Employee
@{
}

<h1>Employee details</h1>

<p>Employee Id: @Model.id</p>
<p>Employee Name: @Model.name</p>
<p>Employee Email: @Model.email</p>
<p>Employee Phone: @Model.phone</p>
